@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

:root {
  --body-bg-color: #cfd6e0;
  --bg-color: #cfd6e0;

  --primary-font-color: rgb(113, 125, 143);
  --secondary-font-color: rgb(48, 65, 94);

  --soft-highlight: rgba(255, 255, 255, 0.2);
  --dark-highlight: rgba(190, 190, 190, 0.3);
}

[data-theme="dark"] {
  --body-bg-color: #343b4f;
  --bg-color: #2a3042;

  --primary-font-color: rgb(153, 197, 245);
  --secondary-font-color: rgb(114, 154, 194);

  --soft-highlight: rgba(118, 118, 118, 0.1);
  --dark-highlight: rgba(59, 59, 59, 0.2);
}

@mixin inAndOutShadow {
  box-shadow: 7px 7px 16px 1px var(--dark-highlight),
    -7px -7px 16px 1px var(--soft-highlight),
    inset 7px 7px 9px 0 var(--dark-highlight),
    inset -7px -7px 9px 0 var(--soft-highlight);
}

@mixin neumorphic {
  box-shadow: 7px 7px 16px 1px var(--dark-highlight),
    -7px -7px 17px 0 var(--soft-highlight);
}

@mixin insetNeumorphic {
  box-shadow: inset 7px 7px 6px 0 var(--dark-highlight),
    inset -7px -7px 6px 0 var(--soft-highlight);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
  font-size: 16px;
  background: var(--body-bg-color);
  color: var(--primary-font-color);
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.calc {
  background: var(--bg-color);
  color: var(--primary-font-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "toggle toggle toggle toggle" "display display display display" "c signed percent divide" "seven eight nine times" "four five six minus" "one two three plus" "zero zero decimal equals";
  place-items: center;
  gap: 25px;
  padding: 40px;
  border-radius: 19px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.display {
  @include inAndOutShadow();
  border: 5px solid var(--soft-high-light);
  color: var(--secondary-font-color);
  height: 60px;
  line-height: 60px;
  width: 100%;
  border-radius: 12px;
  text-align: right;
  padding-right: 18px;
  font-size: 30px;
  letter-spacing: 3px;
}

.neumorphic {
  @include neumorphic();
  border: 1px solid var(--soft-highlight);
  border-radius: 100%;
  transition: 0.1s all ease-in-out;
}

.neumorphic:hover {
  @include insetNeumorphic();
  color: var(--secondary-font-color);
}

.c,
.signed,
.percent,
.divide,
.seven,
.eight,
.nine,
.times,
.four,
.five,
.six,
.minus,
.one,
.two,
.three,
.plus,
.zero,
.decimal,
.equals {
  text-align: center;
  height: 60px;
  width: 60px;
  line-height: 60px;
}

.toggle {
  grid-area: toggle;
}

.display {
  grid-area: display;
}

.c {
  grid-area: c;
}

.signed {
  grid-area: signed;
}

.percent {
  grid-area: percent;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.times {
  grid-area: times;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.minus {
  grid-area: minus;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.plus {
  grid-area: plus;
}

.zero {
  grid-area: zero;
  width: 100%;
  border-radius: 14px;
}

.decimal {
  grid-area: decimal;
}

.equals {
  grid-area: equals;
}

// TOGGLE

.toggle {
  width: 100%;
}

.theme-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  width: 60px;
  position: relative;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: inherit;
  border: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.2s;
  @include inAndOutShadow();
  border-radius: 35px;
  cursor: pointer;
}

.slider::before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 100%;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  left: 4px;
}

input:checked + .slider {
  background-color: var(--bg-color);
  @include inAndOutShadow();
}

input:checked + .slider:before {
  background-color: var(--secondary-font-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}
